In [0]:
# Step 1: Load tables from SQL Warehouse into PySpark DataFrames
customers_df = spark.table("default.customers")  
hotels_df = spark.table("default.hotels")  
bookings_df = spark.table("default.bookings")

In [0]:
spark.sql("SHOW TABLES IN default").show(truncate=False)

+--------+---------------+-----------+
|database|tableName      |isTemporary|
+--------+---------------+-----------+
|default |travel_bookings|false      |
+--------+---------------+-----------+

In [0]:
bookings_df = spark.table("default.travel_bookings")
display(bookings_df)

booking_id,customer_id,customer_name,city,hotel_id,hotel_name,booking_date,stay_duration,amount_spent,status,rating
1,1051,Riya,Delhi,200,ITC,2024-01-01,7,6000,Booked,2
2,1092,Fatima,Mumbai,218,Hotel Taj,2024-01-08,6,7052,Booked,3
3,1014,Riya,Bangalore,201,HolidayInn,2024-01-15,3,4738,Booked,5
4,1071,Riya,Mumbai,211,ITC,2024-01-22,9,7387,Booked,5
5,1060,Anita,Mumbai,205,Oberoi,2024-01-29,6,10002,Booked,1
6,1020,Fatima,Hyderabad,203,Hotel Taj,2024-02-05,6,7536,Cancelled,1
7,1082,Anita,Mumbai,210,Hotel Taj,2024-02-12,1,15479,Booked,2
8,1086,Anita,Hyderabad,216,ITC,2024-02-19,4,5913,Booked,1
9,1074,Fatima,Hyderabad,205,Oberoi,2024-02-26,6,19450,Booked,3
10,1074,Amit,Mumbai,204,Oberoi,2024-03-04,6,12636,Cancelled,5
11,1087,Anita,Bangalore,219,HolidayInn,2024-03-11,5,7726,Booked,2
12,1099,Suresh,Bangalore,201,Oberoi,2024-03-18,1,5373,Booked,1
13,1023,Suresh,Bangalore,205,Oberoi,2024-03-25,8,14161,Cancelled,3
14,1002,Riya,Bangalore,210,Oberoi,2024-04-01,5,4082,Cancelled,3
15,1021,Suresh,Bangalore,215,Marriott,2024-04-08,5,18281,Cancelled,1
16,1052,Riya,Mumbai,215,HolidayInn,2024-04-15,7,17305,Booked,5
17,1001,Amit,Mumbai,200,Hotel Taj,2024-04-22,4,11817,Booked,1
18,1087,Fatima,Delhi,208,ITC,2024-04-29,6,13261,Booked,2
19,1029,Fatima,Bangalore,205,Hotel Taj,2024-05-06,4,2417,Booked,1
20,1037,Fatima,Mumbai,215,HolidayInn,2024-05-13,3,10808,Booked,3
21,1001,Suresh,Delhi,202,ITC,2024-05-20,7,5267,Booked,1
22,1063,Amit,Bangalore,219,HolidayInn,2024-05-27,8,19209,Cancelled,5
23,1059,Suresh,Hyderabad,203,Oberoi,2024-06-03,4,7745,Booked,4
24,1020,Suresh,Delhi,218,ITC,2024-06-10,2,13338,Booked,1
25,1032,Amit,Mumbai,202,Oberoi,2024-06-17,3,2412,Booked,5
26,1075,Amit,Hyderabad,218,Hotel Taj,2024-06-24,1,9543,Booked,5
27,1057,Amit,Hyderabad,219,Hotel Taj,2024-07-01,8,9587,Booked,3
28,1021,Amit,Hyderabad,206,ITC,2024-07-08,3,2728,Booked,5
29,1088,Fatima,Delhi,219,ITC,2024-07-15,7,13657,Booked,5
30,1048,John,Mumbai,208,HolidayInn,2024-07-22,5,7988,Booked,5
31,1090,John,Hyderabad,200,HolidayInn,2024-07-29,5,4967,Booked,5
32,1058,Amit,Bangalore,207,Oberoi,2024-08-05,7,16527,Booked,2
33,1041,John,Hyderabad,206,ITC,2024-08-12,9,18048,Cancelled,2
34,1091,John,Hyderabad,217,Hotel Taj,2024-08-19,5,19506,Booked,3
35,1059,Amit,Delhi,207,HolidayInn,2024-08-26,1,19955,Booked,1
36,1079,John,Delhi,200,HolidayInn,2024-09-02,1,7073,Cancelled,5
37,1014,Suresh,Mumbai,210,Hotel Taj,2024-09-09,2,7104,Booked,1
38,1061,Riya,Bangalore,217,HolidayInn,2024-09-16,6,4143,Cancelled,1
39,1061,Riya,Delhi,209,Oberoi,2024-09-23,9,9357,Booked,3
40,1046,Amit,Hyderabad,202,ITC,2024-09-30,8,14043,Cancelled,5
41,1061,Fatima,Mumbai,206,Hotel Taj,2024-10-07,5,5440,Booked,5
42,1050,Amit,Hyderabad,215,ITC,2024-10-14,1,7644,Cancelled,4
43,1054,Fatima,Hyderabad,215,HolidayInn,2024-10-21,7,12518,Booked,1
44,1063,Riya,Delhi,219,HolidayInn,2024-10-28,5,16552,Cancelled,1
45,1002,Amit,Mumbai,216,Hotel Taj,2024-11-04,6,4914,Booked,2
46,1050,Anita,Bangalore,201,Oberoi,2024-11-11,7,15584,Booked,4
47,1006,Suresh,Bangalore,200,Marriott,2024-11-18,3,14144,Cancelled,2
48,1020,John,Delhi,215,Hotel Taj,2024-11-25,3,16397,Booked,2
49,1072,Fatima,Delhi,211,Marriott,2024-12-02,5,10787,Booked,2
50,1038,Anita,Mumbai,204,Marriott,2024-12-09,6,16191,Booked,3
51,1017,John,Bangalore,204,Oberoi,2024-12-16,9,2728,Booked,3
52,1003,John,Bangalore,208,Marriott,2024-12-23,5,19749,Booked,2
53,1088,Amit,Bangalore,208,Marriott,2024-12-30,1,2698,Booked,4
54,1059,John,Hyderabad,202,Oberoi,2025-01-06,4,9186,Cancelled,1
55,1013,Suresh,Bangalore,218,Marriott,2025-01-13,5,16512,Booked,4
56,1008,Anita,Hyderabad,215,Marriott,2025-01-20,5,15923,Booked,5
57,1089,John,Mumbai,215,Marriott,2025-01-27,7,18779,Cancelled,3
58,1052,Amit,Hyderabad,202,Hotel Taj,2025-02-03,4,9400,Cancelled,1
59,1001,Suresh,Mumbai,219,Hotel Taj,2025-02-10,1,6171,Booked,1
60,1083,Riya,Bangalore,200,Hotel Taj,2025-02-17,5,6360,Booked,5
61,1091,Anita,Bangalore,219,Oberoi,2025-02-24,7,4502,Booked,5
62,1059,John,Mumbai,210,HolidayInn,2025-03-03,6,19101,Booked,2
63,1070,Amit,Delhi,216,Marriott,2025-03-10,5,7486,Booked,3
64,1043,Riya,Mumbai,207,Marriott,2025-03-17,4,10335,Booked,3
65,1007,Riya,Delhi,203,Oberoi,2025-03-24,2,6491,Booked,4
66,1046,Fatima,Hyderabad,205,Marriott,2025-03-31,4,13130,Booked,2
67,1034,Suresh,Hyderabad,207,Hotel Taj,2025-04-07,3,9651,Cancelled,2
68,1077,John,Hyderabad,219,HolidayInn,2025-04-14,1,3167,Cancelled,2
69,1080,Amit,Bangalore,202,ITC,2025-04-21,8,3062,Booked,2
70,1035,Fatima,Hyderabad,215,Marriott,2025-04-28,5,13174,Booked,3
71,1049,Suresh,Delhi,202,Hotel Taj,2025-05-05,4,6729,Booked,3
72,1003,Fatima,Hyderabad,217,ITC,2025-05-12,8,11348,Cancelled,2
73,1001,Anita,Mumbai,213,HolidayInn,2025-05-19,7,7334,Booked,4
74,1005,Suresh,Mumbai,217,ITC,2025-05-26,2,10924,Booked,1
75,1053,Suresh,Bangalore,201,Hotel Taj,2025-06-02,1,6330,Cancelled,1
76,1003,John,Mumbai,202,ITC,2025-06-09,4,8801,Cancelled,4
77,1053,Suresh,Delhi,215,Oberoi,2025-06-16,8,6846,Cancelled,2
78,1092,Fatima,Hyderabad,208,ITC,2025-06-23,2,8731,Booked,3
79,1062,Suresh,Bangalore,203,Marriott,2025-06-30,3,17368,Booked,1
80,1017,John,Hyderabad,200,Marriott,2025-07-07,1,19337,Booked,5

In [0]:
from pyspark.sql.functions import sum

# Load the table
bookings_df = spark.table("default.travel_bookings")

# Compute total revenue per hotel
revenue_per_hotel = bookings_df.groupBy("hotel_id") \
    .agg(sum("amount_spent").alias("total_revenue"))

display(revenue_per_hotel)

hotel_id,total_revenue
203,39140
210,45766
208,52427
207,56468
215,137675
216,18313
205,59160
201,32025
211,18174
217,45921
202,58900
206,26216
204,31555
209,9357
218,46445
200,69698
213,7334
219,80571

In [0]:
from pyspark.sql.functions import avg

# Load the table
bookings_df = spark.table("default.travel_bookings")

# Calculate average stay duration by city
avg_stay_by_city = bookings_df.groupBy("city") \
    .agg(avg("stay_duration").alias("avg_stay_duration"))

display(avg_stay_by_city)

city,avg_stay_duration
Bangalore,5.0476190476190474
Delhi,4.8
Mumbai,4.761904761904762
Hyderabad,4.521739130434782

In [0]:
cancellation_rate_sql = spark.sql("""
    SELECT 
        hotel_id,
        (COUNT(CASE WHEN status = 'cancelled' THEN 1 END) * 1.0 / COUNT(*)) AS cancellation_rate
    FROM default.travel_bookings
    GROUP BY hotel_id
    ORDER BY cancellation_rate DESC
""")
display(cancellation_rate_sql)

hotel_id,cancellation_rate
207,0E-16
206,0E-16
205,0E-16
208,0E-16
210,0E-16
215,0E-16
201,0E-16
203,0E-16
200,0E-16
218,0E-16
209,0E-16
204,0E-16
202,0E-16
216,0E-16
213,0E-16
217,0E-16
211,0E-16
219,0E-16

In [0]:
seasonal_trends_sql = spark.sql("""
    SELECT 
        MONTH(booking_date) AS month,
        city,
        SUM(amount_spent) AS total_revenue
    FROM default.travel_bookings
    GROUP BY MONTH(booking_date), city
    ORDER BY month, city
""")
display(seasonal_trends_sql)

month,city,total_revenue
1,Bangalore,21250
1,Delhi,6000
1,Hyderabad,25109
1,Mumbai,43220
2,Bangalore,10862
2,Hyderabad,42299
2,Mumbai,21650
3,Bangalore,27260
3,Delhi,13977
3,Hyderabad,13130
3,Mumbai,42072
4,Bangalore,25425
4,Delhi,13261
4,Hyderabad,25992
4,Mumbai,29122
5,Bangalore,21626
5,Delhi,11996
5,Hyderabad,11348
5,Mumbai,29066
6,Bangalore,23698
6,Delhi,20184
6,Hyderabad,26019
6,Mumbai,11213
7,Delhi,13657
7,Hyderabad,36619
7,Mumbai,7988
8,Bangalore,16527
8,Delhi,19955
8,Hyderabad,37554
9,Bangalore,4143
9,Delhi,16430
9,Hyderabad,14043
9,Mumbai,7104
10,Delhi,16552
10,Hyderabad,20162
10,Mumbai,5440
11,Bangalore,29728
11,Delhi,16397
11,Mumbai,4914
12,Bangalore,25175
12,Delhi,10787
12,Mumbai,16191

In [0]:
from pyspark.sql.functions import sum

revenue_per_hotel = spark.table("default.travel_bookings") \
    .groupBy("hotel_id") \
    .agg(sum("amount_spent").alias("total_revenue")) \
    .orderBy("total_revenue", ascending=False)

# Databricks built-in chart
display(revenue_per_hotel)   # choose "Bar chart" with hotel_id on X, total_revenue on Y

hotel_id,total_revenue
215,137675
219,80571
200,69698
205,59160
202,58900
207,56468
208,52427
218,46445
217,45921
210,45766
203,39140
201,32025
204,31555
206,26216
216,18313
211,18174
209,9357
213,7334

Databricks visualization. Run in Databricks to view.

In [0]:
from pyspark.sql.functions import avg

avg_stay_by_city = spark.table("default.travel_bookings") \
    .groupBy("city") \
    .agg(avg("stay_duration").alias("avg_stay_duration")) \
    .orderBy("avg_stay_duration", ascending=False)

display(avg_stay_by_city)   # choose "Bar chart"

city,avg_stay_duration
Bangalore,5.0476190476190474
Delhi,4.8
Mumbai,4.761904761904762
Hyderabad,4.521739130434782

Databricks visualization. Run in Databricks to view.

In [0]:
from pyspark.sql.functions import col, count, when

cancellation_rate = spark.table("default.travel_bookings") \
    .groupBy("hotel_id") \
    .agg(
        (count(when(col("status") == "cancelled", True)) /
         count("*")).alias("cancellation_rate")
    ) \
    .orderBy(col("cancellation_rate").desc())

display(cancellation_rate)   # choose "Bar chart"

hotel_id,cancellation_rate
207,0.0
206,0.0
205,0.0
208,0.0
210,0.0
215,0.0
201,0.0
203,0.0
200,0.0
218,0.0
209,0.0
204,0.0
202,0.0
216,0.0
213,0.0
217,0.0
211,0.0
219,0.0

Databricks visualization. Run in Databricks to view.

In [0]:
from pyspark.sql.functions import month, sum

seasonal_trends = spark.table("default.travel_bookings") \
    .groupBy(month("booking_date").alias("month"), "city") \
    .agg(sum("amount_spent").alias("total_revenue")) \
    .orderBy("month", "city")

display(seasonal_trends)   # choose "Line chart" with month on X, revenue on Y, city as series

month,city,total_revenue
1,Bangalore,21250
1,Delhi,6000
1,Hyderabad,25109
1,Mumbai,43220
2,Bangalore,10862
2,Hyderabad,42299
2,Mumbai,21650
3,Bangalore,27260
3,Delhi,13977
3,Hyderabad,13130
3,Mumbai,42072
4,Bangalore,25425
4,Delhi,13261
4,Hyderabad,25992
4,Mumbai,29122
5,Bangalore,21626
5,Delhi,11996
5,Hyderabad,11348
5,Mumbai,29066
6,Bangalore,23698
6,Delhi,20184
6,Hyderabad,26019
6,Mumbai,11213
7,Delhi,13657
7,Hyderabad,36619
7,Mumbai,7988
8,Bangalore,16527
8,Delhi,19955
8,Hyderabad,37554
9,Bangalore,4143
9,Delhi,16430
9,Hyderabad,14043
9,Mumbai,7104
10,Delhi,16552
10,Hyderabad,20162
10,Mumbai,5440
11,Bangalore,29728
11,Delhi,16397
11,Mumbai,4914
12,Bangalore,25175
12,Delhi,10787
12,Mumbai,16191

Databricks visualization. Run in Databricks to view.